/* App */
.App {
  text-align: center;
}


/* About Me */
.portrait {
  border-radius: 50%;
  max-width: 20%;
  max-height: 20%;
}

.AboutMe {
  animation: fadein 4s;
}

h1 {
  animation: fadein 4s;
}


/* Footer */
footer {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.logo {
  animation: fadein 4s;
  width: 2em;
  padding: 2em 0.5em; 
}


/* Animations */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
