/* App */
.App {
  text-align: center;
  animation: fadein 4s;
}


/* About Me */
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 20em;
}

.title {
  align-self: center;
  justify-self: right;
  padding: 2em;
}

.portrait {
  align-self: center;
  justify-self: left;
  padding: 2em;
  border-radius: 50%;
  max-width: 40%;
  max-height: 40%;
}


/* Footer */
footer {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.logo {
  width: 2em;
  padding: 2em 0.5em; 
}


/* Animations */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
